.login-form__input {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-indent: 20px;
}

.login-form__input::placeholder {
    --text-color: #506690;
    color: var(--text-color);
}